# Xcode
xcuserdata/

build/
DerivedData/
*.pbxuser
!default.pbxuser

*.hmap

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store

# IDE
.cursor/
.idea/
.vscode/
*.swp
*.swo

# Build artifacts
*.o
*.out
*.xcuserstate
**/*.xcworkspace/xcshareddata/
**/*.xcworkspace/contents.xcworkspacedata
**/.derivedData

# blanche
context/